body {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
h5 a:hover {
	text-decoration: none;
}
iframe {
  width: 100%;
  height: 400px;
}
p {
	margin: 5px 0px;
}
#creator-img {
  max-height: 250px;
  text-align: center;
}
#search {
	margin-top: 2em;
}
#show-filter {
  display: none;
}
#sort {
  margin: 5px;
  padding-top: 5px;
}
#sort select {
  max-width: 130px;
  font-size: .7em;
}
#title {
  margin-top: 20px;
  text-align: center;
}
.About, .Results, .Splash   {
  margin-top: 40px;
}
.active, .nav-link:hover {
	background-color: #333333;
}
.bold {
	font-weight: bold;
}
.blogpost {
	border: solid 2px #DDDDDD;
	border-radius: 10px;
	padding: 2%;
	margin-top: 20px;
}
.blogpost img {
	max-width: 100%;
}
.blue {
	color: #4179AF;
}
.car-desc {
	position: relative;
	top: -4px;
	font-size: .8em;
	font-weight: bold;
	font-style: italic;
	color: #5B5B5B;
}
.car-info {
  background-color: rgba(255,255,255,.7);
}
.car-model {
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
}
.car-name {
	color: #242424;
	font-size: 1.2em;
	font-weight: bold;
	font-style: normal;
}
.car-price {
	color: #036704;
	font-weight: bold;
	font-style: normal;
}
.car-range, .kbb{
	font-size: .8em;
	font-style: normal;
}
.car-result {
  border: solid 2px rgba(0,0,0,.2);
  border-radius: 5px;
  margin: 5px;
  max-width: 560px;
  box-shadow: 3px 3px rgba(0,0,0,.1);
}
.car-tax {
	color: #274968;
	font-size: .9em;
	font-weight: bold;
	font-style: italic;
}
.car-thumb {

}
.car-year {
	font-size: .6em;
	font-style: italic;
	font-weight: bold;
}
.center-text {
	text-align: center;
}
.EV {
	font-size: .9em;
	color: #FFFFFF;
	background-color: #4179AF;
	border: solid 2px #335E87;
	border-radius: 7px;
	padding: 2px;
}
.form-group {
	padding: 5px;
	border-bottom: solid 2px gray;
}
.green {
	color: green;
}
.hidden {
	display: none;
}
.italic {
	font-style: italic;
}
.lightblue {
	color: #388EFF;
}
.navbar {
	background-color: #242424;
	padding-top: 0px;
	padding-bottom: 0px;
}
.navbar-brand-custom {
	font-style: italic;
	font-weight: normal;
	font-size: 1.4em;
	color: #0F87FF;
	padding-right: 10px;
	cursor: pointer;
}
.nav-link {
	cursor: pointer;
}
.orange {
	color: #F5AD05;
}
.padding-right {
	padding-right: 21px;
}
.PHEV {
	font-size: .9em;
	color: #FFFFFF;
	background-color: #F5AD05;
	border: solid 2px #C18905;
	border-radius: 7px;
	padding: 2px;
}
.red {
	color: #990033;
}
.row-spacer {
	height: 135px;
}
.Splash {
	height: 350px;
  width: 100%;
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;
	background-color: rgba(100,100,100,.3);
  background-image: url('img/splash1.jpg');
}
.splash-small {
	height: 150px;
  width: 100%;
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;
	background-color: rgba(100,100,100,.3);
  background-image: url('img/splash1.jpg');
}
.splash-small .splash-text {
	margin-top: 60px;

	background-color: rgba(255,255,255,.8);
}
.splash-text {
	background-color: rgba(255,255,255,.5);
	font-size: .9em;
	border-radius: 5px;
}

@media screen and (max-width: 768px) {
  iframe {
    height: 225px;
  }
  #compare-btn {
  	margin-top: 5px;
  }
  #search {
		margin-left: 10%;
		margin-right: 10%;
	}
  #show-filter {
    display: inherit;
    width: 34px;
    padding: 4px;
    margin-left:20px;
    margin-bottom: -30px;
    background-color: rgba(0,0,0,.1);
    border-radius: 5px;
  }
  #sort {
    position: relative;
    top: -3px;
    left: 165px;
    z-index: 1;
    padding-top: 0px;
    width: 200px;
  }
  .hide-mobile {
    display: none;
  }
  .Results {
    margin-top: 45px;
  }
  .row-spacer {
    height: 30px;
  }
  .Splash {
    height: 250px;
  }
}
